<%- include('partials/header') -%>

<div class="container">
    <h1>About</h1>

    <p>Hello! This is the fancy little GSA Server. It exists for us to remotely store and access some of our important data!</p>
</div>
  
<%- include('partials/footer') -%>