<%- include('partials/header') -%>

<div class="container">
    <h1>Archive</h1>

    <ul>
        <li>
            <p><a href="/copyright">Copyright statement</a></p>
        </li>
    </ul>
    
</div>
  
<%- include('partials/footer') -%>