<%- include('partials/header') -%>

<div class="container">
    <h1>GSA Server Copyright Policy</h1>

    <p>
        Hello! This is Claire, the creator of this website! I have specified "Some Rights Reserved" on this website because some of the content is covered by a <a href="https://www.gnu.org/licenses/licenses.html">GNU</a> license, meaning it can be copied or re-purposed with some limitations.
    </p><p>
        I made this decision because I would like the projects and resources we have created to be used, distributed, modified, and built upon by those that choose to.
    </p>

    <h4>This Website's License</h4>
    
    <p>
        I am using the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License</a> (GNU GPL) v3.0 or later. You can read about the license by following the link but in general, the following is how the license permits re-use of my work.
    </p><p>
        <ul>
            <li>You have the freedom to use the software for any purpose</li>
            <li>You have the freedom to change the software to suit your needs</li>
            <li>You have the freedom to share the software with your friends and neighbors</li>
            <li>You have the freedom to share the changes you make</li>
        </ul>
    </p>
    <p>
        You may (but are not required to) give credit if re-using this work. If you would like to credit me, use my username ClaireWhere or link to my GitHub <a href="https://github.com/clairewhere">https://github.com/ClaireWhere</a>
    </p>
    <p>
        All pages, documents, and code contained in this website are covered either by this license or traditional copyright and should be individually indicated as such. If something is not marked and you would like to use it, please contact the original creator of this website for clarification at <a href="mailto:clairewhere4@gmail.com">clairewhere4@gmail.com</a>
    </p>
</div>

<%- include('partials/footer') -%>